.container {
	width: 1200px;
	margin: 0 auto;
}
@media (max-width:720px) {
	.container {
        width:400px;
	}
}

@media (max-width:968px) {
	.container {
        width:750px;
	}
}

@media (max-width:540px) {
	.container {
        width:300px;
	}
}
